img{
    height: 300px;
    width:100%
}
body{
    background-image: url(/assets/images/18.jpg) ; 
    height: 1500px;
    width: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}