
<!--br>
<br><body>
    <div class="row"  >
        <div class="col col-3" *ngFor="let m of medic" >
    <div class="card" style="width: 18rem;margin-top: 20px;margin-right: 20px;margin-left: 30px; border-radius: 20px;"  >
        <div class="card-body">
          <img [src]=m.img alt="">
          <div>
          <h5 class="card-title">{{m.pname}}</h5>
          <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
        </div>
        <div [hidden]="productdetail">
          <!--p class="stylebinding">{{m.pdes}}</p-->
          <!--app-counter></app-counter>
          {{m.price| currency: 'INR'}}
        </div>
          <button class="btn btn-dark m-3" (click)="addToCart(product)" style="width:150px;border-radius:10px;">Add to Cart</button>
        </div>
      </div>
      
     
    </div>
    </div>
    </body-->
    
    

    <br>
<br>
<body>
    <div class="row">
      
        <div class="col col-3"  *ngFor="let m of medic">
          <div>
    <div  class="card " style="width: 18rem;margin-top: 20px;margin-right: 20px;margin-left: 30px; border-radius: 20px;"  >
        <div class="card-body">
          <img [src]=m.img alt="">
          <div>
          <h5 class="card-title" >{{m.pname}}</h5>
          <br>
          <!--span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span--!>
        </div>
        <div [hidden]="productdetail">
          <!--p class="stylebinding">{{m.pdes}}</p-->
          <app-counter></app-counter>
<br>
          {{m.price| currency: 'INR'}}
        </div>
          <button  class="btn btn-dark m-3" (click)="addtoCart(m)" style="width:150px;border-radius:10px;">Add to Cart</button>
          <!--input type="number" name="quantity" [(ngModel)]="quantity" style="width:50px;border-radius:10px;" min="1" max="25" -->
        </div>
      </div>
      
    </div>
  </div>
    </div>
  </body>
    