section{
    justify-content: center;
    align-items: center;
    display: flex;
    background-image:url(/assets/images/111.jpeg); 
    height: 700px;
    
}
.box{
    padding: 50px;
    position: relative;
    background-color: rgba(19, 2, 2, 0.1);
    border-radius: 20px;
    box-shadow: 0 5px,35px,rgba(0,0,0,0,0.2);
}

::placeholder {
    color: black
  }