
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b style="font-family:cursive">Plant Gallery</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="About">About</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="cart" >Plants</a></li>
              <li><a class="dropdown-item" routerLink="seed">Seeds</a></li>
      
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="cart" tabindex="-1" >Cart</a>
          </li>
          <li><input [(ngModel)]="random" type="text" class="form-control me-2" type="search" #productname placeholder="ENTER YOUR PRODUCT" aria-label="Search" name="first">

        </li>
        <li>
          <button class="btn btn-outline-success d-flex" type="submit" (click)="search_product(productname.value);" style="color:aliceblue ;">Search</button>
          
        </li>
        <li>
          
        </li>
        </ul>
        <form class="d-flex">
          <app-search [product]="productentered" class="d-flex"></app-search>
          <button class=" nav-link active" routerLink="login" style="color: black;" >Login</button>
        </form>
      </div>
    </div>
  </nav>
