<body>
<div class="row"  >
    <div class="col col-4" *ngFor="let prod of product" [ngSwitch]="prod.Status">
<div class="card" style="width: 18rem;margin-top: 20px;margin-right: 20px;margin-left: 30px; border-radius: 20px;" *ngSwitchCase="'In Stock'" >
    <div class="card-body">
      <img [src]=prod.image alt="">
      <h6 class="card-title" >{{prod.pid}}</h6>
      <div>
      <h5 class="card-title">{{prod.pname}}</h5>
      <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
    </div>
    <div [hidden]="productdetail">
      <p class="stylebinding">{{prod.pdescription}}</p>
      
    </div>
    <app-counter></app-counter>
      <a href="#" class="btn btn-outline-success" >{{prod.Status}}</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-top: 20px;margin-right: 20px;margin-left: 30px; border-radius: 20px;" *ngSwitchCase="'Out of Stock'" >
    <div class="card-body">
      <img [src]=prod.image alt="" >
      <h6 class="card-title">{{prod.pid}}</h6>
      <div>
      <h5 class="card-title">{{prod.pname}}</h5>
      <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
    </div>
      <div [hidden]="productdetail">
      <p class="stylebinding">{{prod.pdescription}}</p>
    </div>
    <app-counter></app-counter>
      <a href="#" class="btn btn-danger" >{{prod.Status}}</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin-top: 20px;margin-right: 20px;margin-left: 30px; border-radius: 20px;" *ngSwitchDefault >
    <div class="card-body">
      <img [src]=prod.image alt="" >
      <h6 class="card-title">{{prod.pid}}</h6>
      <h5 class="card-title">{{prod.pname}}</h5>
      <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
      <p class="card-text stylebinding">{{prod.pdescription}}</p>
      <a href="#" class="btn btn-warning" >{{prod.Status}}</a>
    </div>
  </div>
</div>
</div>
</body>

