img{
    height: 300px;
    width:100%
}
h6{
    text-align: center;
}
.stylebinding{
    color:chocolate;
    text-shadow: 2px 2px 2px burlywood;
}

body{
    background-image: url(/assets/images/18.jpg) ; 
    height: 1800px;
    width: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
