<br>
<br>
<br>
<div class="container">
<h1>
  
</h1>
<hr>
<div class="row">
  <div class="col-sm">
    <h3>Product image</h3>
  </div>
  <div class="col-sm">
    <h3>Product name</h3>
  </div>
  <div class="col-sm">
    <h3>Quantity</h3>
  </div>
  <div class="col-sm">
    <h3>Price</h3>
  </div>
  <div class="col-sm">
    <h3>Remove item</h3>
  </div>
</div>

<hr>

<div class="row" *ngFor="let item of cart">
  <div class="col-sm">
    <img src={{item.img}}>
  </div>
  <div class="col-sm">
    <h3>{{item.pname}} </h3>
  </div>
  <div class="col-sm">
    <h3>{{item.quantity}} </h3>
  </div>
  <div class="col-sm">
    <h3>{{item.price}} </h3>
  </div>
  <div class="col-sm">
    <h3>{{item.totalprice}} </h3>
    <button class="btn btn-danger" (click)="delete(item)"><i class="fa-solid fa-trash"></i></button>
  </div>
  <hr>
  
  
</div>
</div>
<br>
<br>
<div class="row" style="text-align:center;float: left;">
  <button class="btn btn-dark m-3" style="width:150px;border-radius:10px;margin-left: 600px;"><a (click)="onClick()" >Shop More</a></button>
<button class="btn btn-dark m-3" style="width:150px;border-radius:10px;margin-left: 600px;"><a class="btn btn-dark m-3" href="https://rzp.io/i/fYbjxoZkjh" target="_blank">CheckOut</a></button>

</div>
<br>

<h3 style="margin-left: 1100px;">Total: {{totalPrice(cart)|currency:'INR'}}</h3>
<div>
  
</div>