<div style="margin-top:30px;">
    <div class="row">
        <!--1st-->
        <div class=" col-lg-3">
            <app-allproducts></app-allproducts>
            <app-allproducts></app-allproducts>
        </div>
        <!--2nd-->
        <div class="card col-lg-6" style="margin-top: 10px;border-style: solid;border-color: black;">
        <app-seedsdeals></app-seedsdeals>            
        </div>
        <!--3rd-->
        <div class="col-lg-3" >
            <app-advertise></app-advertise>
            </div>
    </div>
</div>
