img{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.backgd{
    background-image: url(/assets/images/18.jpg) ; 
    height: 1400px;
    width: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

