   <div class="row">
        <!--2st-->
            <div class="card-body col-lg-12">
                <div class="row" style="margin-top: 10px;border-style: solid;border-color: black;">
                    <div class="col-lg-3">
                        <img [src]="product.img">
                    </div>
                    <div class="col-lg-9" style="margin-top:20px">
                        <div ><b>
                            {{product.pname}}
                            <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span></b>
                        <div [hidden]="productdetail">
                                {{product.pdescription}}
                                Price: {{product.price | currency:'INR'}}
                        </div>
                        <!--new-->
                        
              <input type="number" name="quantity" [(ngModel)]="quantity" style="width:50px;border-radius:10px;" min="1" max="25">
                <button class="btn btn-dark m-3" (click)="addtoCart(product)" style="width:150px;border-radius:10px;">ADD TO CART</button>  
            </div>
            </div>
        </div>
    </div>
