

<div *ngFor="let sp of seed">
    <div class="row">
        <!--2st-->
            <div class="card-body col-lg-12">
                <div class="row" style="margin-top: 10px;border-style: solid;border-color: black;">
                    <div class="col-lg-3">
                        <img [src]="sp.image">
                    </div>
                    <div class="col-lg-9" style="margin-top:20px">
                        <div>
                            {{sp.pname}}
                            <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
                        </div>
                        <div [hidden]="productdetail">
                                {{sp.pdescription}}
                        </div>
                    </div>
                </div>
            

        </div>

    </div>
</div>