img{
    
    
    height: 800px;
    width:100%;
    
}
h5{
    color:black;
}
h2{
    color: black;
}
.divv{
    background-image: url(/assets/images/18.jpg) ; 
    height: 1500px;
    width: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.wrapper{
    position: absolute;
    z-index:1;
}

header{
    padding:20px,144px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4dc474;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}
.menu ul li a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 500 ;
}
.menu ul li:not(:last-child) a::before{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all ease 0.5s;
}
.menu ul li a:hover::before{
    width: 100%;
    height: 100%;
}
.banner{
    position:relative;
    background-color: #4dc474;
}
.banner::before{
    content:'';
    position:absolute;
    bottom: -70px;
    left: 0;
    width: 110%;
    height: 200px;
    
    
}
.banner::after{
    content:'';
    position:absolute;
    bottom: -50px;
    left: 0;
    width: 110%;
    height: 150px;
    background-color: #fff;
    
    
}
.banner-top{
    padding: 190px 0 60px 150px;
    display: flex;
    justify-content: space-between;
}
.slider{
    width: 60%;
    
}
.slider.item{
    margin:15px;
}
.slider.item img{
    width: 100%;
}