<br>
<br>

<section>
<div class="mt-5">
<div class="box">
<form [formGroup]="registerForm" (ngSubmit)="submitHandler()" class="d-flex flex-column" style="margin: solid; margin-right:200px; margin-left:200px">
  <h2 style="text-align: center;">REGISTER</h2>
    <div class="form-group" style="background: transparent;" >
      <input style="background: transparent;"type="text" class="form-control" name="username" formControlName="username" placeholder="ENTER USERNAME">
      <label class="error ng-binding" *ngIf="submitted && f['username'].invalid">name is required</label>
    </div>
    <br>

    <div class="form-group ">
      <input style="background: transparent;"type="email" class="form-control" name="useremail" formControlName="useremail" placeholder="ENTER EMAIL">
      <label class="error ng-binding" *ngIf="submitted && f['useremail'].invalid">email is required</label>
      <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">must be valid mail id</label>

    </div>
    <br>

    <div class="form-group ">
      <input style="background: transparent;" type="password" class="form-control" name="password" formControlName="password" placeholder="ENTER PASSWORD">
      <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['password']">password is required</label>
     <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">atleast 6 character</label> 

    </div>
    <br>

    <div class="form-group ">
      <input style="background: transparent;color: black;" type="text" class="form-control" name="mobile" formControlName="mobile" placeholder="ENTER MOBILE NUMBER">
      <label class="error ng-binding" *ngIf="submitted && f['mobile'].errors?.['required']">mobile num is required</label>
      

    </div>
    <br>

    <button style="background: transparent;" type="submit" class="btn btn-primary"><b>REGISTER</b></button><br>
    <div class="text-center">ALREADY HAVE AN ACCOUNT?<a href="login"><b>LOGIN</b></a>

    </div>
  </form>
</div>
</div>
</section>
<nav class="navbar fixed-bottom" style="background-color: #0f8135;">
  <div class="container-fluid">
    <a class="nav-link active" style="color: white;" >&copy;www.plantgallery.com</a>
  </div>
</nav>
